@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype"), url("../fonts/ProximaNova-Light.svg#ProximaNova-Light") format("svg");
  font-weight: 100;
  font-style: normal; }
@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype"), url("../fonts/ProximaNova-Regular.svg#ProximaNova-Regular") format("svg");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.ttf") format("truetype"), url("../fonts/ProximaNova-Bold.svg#ProximaNova-Bold") format("svg");
  font-weight: 600;
  font-style: normal; }
html {
  overflow: scroll;
  overflow-x: hidden; }

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #f6f6f6; }

::-webkit-scrollbar-track {
  border-radius: 6px; }

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: #c62827; }

input::-webkit-input-placeholder {
  color: #a7a7a7 !important;
  font-size: 18px; }

input::-moz-placeholder {
  color: #a7a7a7 !important;
  font-size: 18px; }

input:-ms-input-placeholder {
  color: #a7a7a7 !important;
  font-size: 18px; }

input::placeholder {
  color: #a7a7a7 !important;
  font-size: 18px; }

body {
  background-color: #f6f6f6;
  font-size: 16px;
  line-height: 1.25;
  overflow-x: hidden;
  font-family: 'ProximaNova', sans-serif;
  font-weight: 100; }

* {
  outline: none !important; }

h1 {
  font-size: 41px;
  padding-bottom: 42px;
  margin: 0;
  font-weight: 600; }

h2 {
  font-size: 50px;
  font-weight: 100;
  color: #363636;
  padding-left: 100px;
  margin: 15px 0; }
  h2.sub-header {
    margin-bottom: 0; }

h4 {
  font-weight: 600;
  font-size: 24px;
  color: #363636; }

p {
  color: #56564e; }

a {
  color: #c62827; }
  a:hover {
    color: #c62827; }

.padding-left-none {
  padding-left: 0; }

.padding-right-none {
  padding-right: 0; }

.padding-top-none {
  padding-top: 0; }

.padding-bottom-none {
  padding-bottom: 0; }

.btn:focus {
  box-shadow: none; }

.btn-red {
  background-color: #c62827;
  height: 78px;
  border-radius: 78px;
  color: #fff;
  font-size: 18px;
  border: 2px solid #c62827;
  transition: .3s all;
  padding: .5rem 25px;
  min-width: 280px; }
  .btn-red:hover {
    background-color: transparent;
    color: #c62827; }

.btn-gray {
  background-color: #dcdcdc;
  height: 34px;
  border-radius: 34px;
  line-height: 14px;
  color: #363636;
  font-size: 12px;
  border: 2px solid #dcdcdc;
  transition: .3s all;
  padding: 10px 34px; }
  .btn-gray:hover {
    background-color: transparent; }

.wrapper {
  margin: auto;
  padding: 0; }
  @media screen and (max-width: 1199.98px) and (min-width: 992px) {
    .wrapper {
      max-width: 960px; } }
  @media screen and (max-width: 1649.98px) and (min-width: 1200px) {
    .wrapper {
      max-width: 1200px; } }
  @media screen and (min-width: 1650px) {
    .wrapper {
      max-width: 1650px; } }

header {
  background-color: #f9f9f9;
  padding: 15px 0;
  position: relative;
  z-index: 10; }
  header .logo {
    width: 140px;
    display: inline-block;
    margin-right: 25px; }
  header nav {
    margin-left: -8px; }
    header nav a {
      color: #a7a7a7;
      margin: 0 5px;
      font-size: 20px;
      font-weight: 400;
      padding: .5rem 35px !important; }
      header nav a:hover {
        color: #c62827; }
      header nav a.active {
        color: #363636; }

.call-phones .city {
  display: block; }
  .call-phones .city a {
    color: #363636;
    padding-right: 10px;
    background: url("../icons/arrow-dark.svg") center right no-repeat;
    background-size: 6px;
    font-size: 22px;
    font-weight: 400;
    display: inline-block; }
.call-phones .tel {
  color: #c62827;
  font-weight: 600;
  font-size: 21px; }
.call-phones small {
  display: block;
  color: #a7a7a7;
  font-size: 9px; }

.full-page {
  padding: 15px 0;
  position: relative; }
  .full-page .scroll-btn {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 25px; }
    .full-page .scroll-btn .mouse {
      position: relative;
      display: block;
      width: 26px;
      height: 46px;
      margin: 0 auto;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      border: 2px solid #a7a7a7;
      border-radius: 20px; }
      .full-page .scroll-btn .mouse span {
        position: absolute;
        display: block;
        top: 29%;
        left: 50%;
        width: 7px;
        height: 7px;
        transform: translate(-50%, -50%);
        background: #a7a7a7;
        border-radius: 50%;
        -webkit-animation: ani-mouse 1.5s linear infinite;
        -moz-animation: ani-mouse 1.5s linear infinite;
        animation: ani-mouse 1.5s linear infinite; }
@keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%; }
  15% {
    opacity: 1;
    top: 66%; }
  50% {
    opacity: 0;
    top: 66%; }
  100% {
    opacity: 0;
    top: 29%; } }
  .full-page .header {
    font-size: 20px;
    line-height: 24px;
    color: #56564e; }
  .full-page .btn-calc {
    padding: 35px 0; }
    .full-page .btn-calc .btn {
      font-size: 20px;
      padding: .5rem 55px; }
    .full-page .btn-calc p {
      margin: 0 0 0 30px;
      font-size: 16px;
      line-height: 20px;
      width: calc(40% - 30px); }
  .full-page .timer {
    margin: 25px 0;
    max-width: 600px; }
    .full-page .timer div strong {
      font-size: 58px;
      color: #363636;
      font-weight: normal; }
    .full-page .timer div span {
      display: block;
      color: #a7a7a7;
      font-size: 16px;
      position: relative;
      top: -12px; }
    .full-page .timer div:before {
      border-right: 1px solid #a7a7a7;
      height: 46px;
      content: "";
      position: absolute;
      right: 0;
      top: 14px; }
    .full-page .timer div:last-child:before {
      border: none; }
  .full-page .main-car {
    color: #fff;
    position: relative; }
    .full-page .main-car > * {
      position: relative;
      z-index: 2; }
    .full-page .main-car img {
      position: relative;
      right: -80px;
      top: 50px;
      width: calc(100% + 70px);
      max-width: calc(100% + 70px);
      margin-bottom: -40px; }
    .full-page .main-car p {
      font-size: 24px;
      color: #fff;
      margin: 0; }
    .full-page .main-car h2 {
      font-size: 70px;
      line-height: 70px;
      text-transform: uppercase;
      color: #fff;
      font-weight: 600;
      margin: 0 0 5px;
      padding: 0; }
    .full-page .main-car .compare-price .margin-b {
      margin-bottom: 20px; }
    .full-page .main-car .compare-price .price {
      white-space: nowrap;
      width: calc(100% - 215px); }
      .full-page .main-car .compare-price .price.big {
        font-size: 38px;
        font-weight: 600; }
      .full-page .main-car .compare-price .price.small {
        font-size: 20px;
        font-weight: 600; }
    .full-page .main-car .compare-price .text {
      font-size: 16px;
      line-height: 20px;
      width: 215px;
      padding-left: 15px; }
    .full-page .main-car:before {
      content: "";
      width: 830px;
      height: 830px;
      border-radius: 50%;
      background-color: #c62827;
      position: absolute;
      right: -190px;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1; }

section {
  padding: 50px 0 0;
  position: relative; }
  section.faq {
    padding-bottom: 50px; }

.count-people h2 {
  font-size: 118px;
  line-height: 90px;
  color: #c62827;
  font-weight: 600;
  padding: 0;
  margin: 55px 0 18px; }
.count-people h3 {
  color: #363636;
  padding-left: 100px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 50px; }
.count-people p {
  color: #363636;
  font-size: 24px;
  padding-left: 105px;
  margin: 0; }

.carousel-white .item {
  background-color: #fff;
  padding: 25px 55px; }

.rew-row {
  position: relative; }
  .rew-row .review {
    padding-left: 115px;
    min-height: 80px;
    margin-bottom: 45px; }
    .rew-row .review h5 {
      font-size: 26px;
      color: #363636;
      padding: 15px 0 0;
      margin: 0;
      font-weight: 600; }
    .rew-row .review span {
      display: block;
      font-size: 20px; }
    .rew-row .review .avatar {
      width: 80px;
      height: 80px;
      position: absolute;
      overflow: hidden;
      left: 0;
      top: 30px; }
      .rew-row .review .avatar img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%); }
    .rew-row .review + p {
      margin: 0;
      line-height: 20px; }

.white-bac {
  background-color: #fff;
  padding: 25px 50px; }
  .white-bac .rew-row {
    padding: 20px 0; }

.carousel-testimonials {
  margin: 0; }
  .carousel-testimonials.owl-carousel > .owl-nav .owl-next {
    top: auto;
    bottom: -10px;
    transform: none;
    background-color: transparent !important;
    width: 40px;
    height: 40px;
    right: 10px; }
    .carousel-testimonials.owl-carousel > .owl-nav .owl-next:hover {
      background-color: transparent !important; }
  .carousel-testimonials.owl-carousel > .owl-nav .owl-prev {
    top: auto;
    bottom: -10px;
    transform: none;
    background-color: transparent !important;
    width: 40px;
    height: 40px;
    left: 10px; }
    .carousel-testimonials.owl-carousel > .owl-nav .owl-prev:hover {
      background-color: transparent !important; }

.cars-carousel .item {
  padding: 0; }
.cars-carousel.owl-carousel .owl-nav {
  position: static;
  bottom: auto; }
  .cars-carousel.owl-carousel .owl-nav .owl-prev {
    font-size: 42px !important;
    position: absolute;
    left: -25px;
    top: 50%;
    transform: translateY(-50%);
    color: #56564e !important;
    height: 24px;
    line-height: 18px !important;
    background: url("../icons/back.svg") center no-repeat !important;
    width: 20px; }
    .cars-carousel.owl-carousel .owl-nav .owl-prev:hover {
      background: url("../icons/back-hover.svg") center no-repeat !important; }
    .cars-carousel.owl-carousel .owl-nav .owl-prev span {
      display: none; }
  .cars-carousel.owl-carousel .owl-nav .owl-next {
    font-size: 42px !important;
    position: absolute;
    right: -25px;
    top: 50%;
    transform: translateY(-50%);
    color: #56564e !important;
    height: 24px;
    line-height: 18px !important;
    background: url("../icons/next.svg") center no-repeat !important;
    width: 20px; }
    .cars-carousel.owl-carousel .owl-nav .owl-next:hover {
      background: url("../icons/next-hover.svg") center no-repeat !important; }
    .cars-carousel.owl-carousel .owl-nav .owl-next span {
      display: none; }

.cars-in-transit {
  padding: 30px 0; }
  .cars-in-transit .item-car {
    margin: 25px 0; }
    .cars-in-transit .item-car .img {
      background-position: center;
      background-size: cover;
      height: 270px;
      position: relative;
      margin: 15px 0; }
      .cars-in-transit .item-car .img .price {
        position: absolute;
        bottom: 0;
        width: 100%;
        color: #fff;
        background-color: #c62827;
        padding: 5px 15px 10px;
        font-size: 12px;
        font-weight: 100;
        text-transform: uppercase; }
        .cars-in-transit .item-car .img .price b {
          font-size: 22px;
          font-weight: 600;
          position: relative;
          top: 2px; }
    .cars-in-transit .item-car .year {
      font-size: 20px;
      color: #363636; }
    .cars-in-transit .item-car h4 {
      color: #363636;
      font-size: 36px;
      text-transform: uppercase;
      font-weight: 600;
      margin: 0; }
    .cars-in-transit .item-car p {
      font-size: 16px;
      line-height: 24px; }
      .cars-in-transit .item-car p b {
        color: #363636;
        font-weight: 600; }
  .cars-in-transit .owl-carousel > .owl-nav .owl-next {
    top: auto;
    bottom: -10px;
    background-color: transparent !important;
    width: 40px;
    height: 40px;
    right: 25%;
    transform: translateX(-50%); }
    .cars-in-transit .owl-carousel > .owl-nav .owl-next:hover {
      background-color: transparent !important; }
  .cars-in-transit .owl-carousel > .owl-nav .owl-prev {
    top: auto;
    bottom: -10px;
    background-color: transparent !important;
    width: 40px;
    height: 40px;
    left: 25%;
    transform: translateX(50%); }
    .cars-in-transit .owl-carousel > .owl-nav .owl-prev:hover {
      background-color: transparent !important; }

.content-with-padding {
  padding: 0 100px; }

.item-with-h3 {
  position: relative;
  padding: 45px 0 25px; }
  .item-with-h3 h3 {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 32px; }
  .item-with-h3:before {
    content: "";
    width: 12px;
    height: 12px;
    left: -38px;
    top: 60px;
    background-color: #c62827;
    position: absolute;
    border-radius: 50%; }
  .item-with-h3 p {
    font-size: 16px;
    line-height: 20px; }

.item-with-h4 {
  position: relative;
  margin-top: 60px;
  padding-top: 15px; }
  .item-with-h4 h4 {
    font-weight: 100;
    font-size: 25px; }
  .item-with-h4:before {
    content: "";
    width: 10px;
    height: 10px;
    left: -35px;
    top: 25px;
    background-color: #c62827;
    position: absolute;
    border-radius: 50%; }

.text-info p {
  margin: 0;
  font-size: 20px;
  line-height: 24px; }
  .text-info p b {
    color: #c62827;
    font-weight: 600; }
.text-info.top-padding {
  margin-top: 60px; }
.text-info .btn {
  margin-left: 15px; }

.accordion-faq .item-faq {
  position: relative;
  padding: 12px 0; }
  .accordion-faq .item-faq .question {
    font-size: 24px;
    margin: 0;
    cursor: pointer; }
    .accordion-faq .item-faq .question:hover {
      color: #c62827; }
    .accordion-faq .item-faq .question[aria-expanded="true"] {
      font-weight: 600;
      color: #c62827;
      text-decoration: underline; }
  .accordion-faq .item-faq .answer {
    padding-bottom: 25px; }
    .accordion-faq .item-faq .answer p {
      font-weight: 400;
      font-size: 20px;
      margin-top: 40px;
      padding-left: 30px; }
      .accordion-faq .item-faq .answer p:last-child {
        margin-bottom: 0; }
  .accordion-faq .item-faq:before {
    content: "";
    width: 12px;
    height: 12px;
    left: -43px;
    top: 18px;
    background-color: #c62827;
    position: absolute;
    border-radius: 50%; }

.form-control {
  border-radius: 0;
  border: 1px solid #dcdcdc;
  height: 56px;
  font-size: 18px; }
  .form-control:focus {
    color: #363636;
    background-color: #fff;
    border-color: #dcdcdc;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.13); }

.form-call h4 {
  margin-bottom: 25px; }
.form-call p {
  font-size: 21px;
  line-height: 24px; }
  .form-call p b {
    color: #c62827;
    font-weight: 600; }
.form-call .btn-red {
  margin-top: 20px; }

.telegram-box .info {
  padding: 10px 15px 10px 105px;
  color: #fff;
  background-color: #35ade1;
  margin-right: -30px; }
  .telegram-box .info p {
    font-weight: 600;
    font-size: 24px;
    margin: 0 0 5px;
    color: #fff; }
  .telegram-box .info small {
    font-size: 16px; }
.telegram-box .go-to-telegram {
  background-color: #2793c1;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 400;
  font-size: 18px; }
  .telegram-box .go-to-telegram img {
    margin-right: 15px; }

footer {
  margin-top: 25px;
  background-color: #202020;
  padding: 25px 0; }
  footer .call-phones {
    padding-top: 20px; }
    footer .call-phones .city a {
      color: #fff;
      background: url("../icons/arrow-white.svg") center right no-repeat;
      background-size: 6px; }
  footer .address-copyright {
    position: relative;
    padding-left: 195px; }
    footer .address-copyright .logo {
      position: absolute;
      left: 0;
      top: -5px; }
    footer .address-copyright p {
      color: #fff;
      font-weight: 400;
      font-size: 21px;
      line-height: 24px;
      margin: 20px 0 15px; }
    footer .address-copyright small {
      color: #fff;
      display: block; }
    footer .address-copyright .copyright {
      color: #56564e;
      font-size: 13px;
      padding-top: 70px;
      display: block; }
    footer .address-copyright .go-to-catalog {
      position: relative;
      margin-top: 15px;
      padding: 10px 0 10px 43px; }
      footer .address-copyright .go-to-catalog a {
        text-decoration: underline;
        font-size: 16px; }
        footer .address-copyright .go-to-catalog a:hover {
          text-decoration: none; }
      footer .address-copyright .go-to-catalog:before {
        content: "";
        width: 26px;
        height: 26px;
        position: absolute;
        left: 0;
        top: 5px;
        background: url("../icons/foreign.svg") center no-repeat;
        background-size: cover; }

p.sub-header {
  padding-left: 100px;
  font-size: 24px; }

.half-car-content {
  position: relative;
  z-index: 2;
  margin-bottom: 65px; }

.half-car {
  position: absolute;
  right: 0;
  bottom: -140px;
  z-index: 1;
  height: 400px; }

.owl-carousel .owl-dots {
  margin: 30px 0 0;
  text-align: center;
  display: inline-block;
  left: 50%;
  position: relative;
  transform: translateX(-50%); }
  .owl-carousel .owl-dots button {
    width: 10px;
    height: 10px;
    background-color: #a7a7a7;
    border-radius: 50%;
    margin: 0 3px;
    display: inline-block; }
    .owl-carousel .owl-dots button.active {
      background-color: #c62827; }
.owl-carousel .owl-nav .owl-prev {
  position: absolute;
  left: -40px;
  top: calc(50% - 15px);
  transform: translateY(-50%);
  color: #56564e !important;
  width: 80px;
  height: 80px;
  line-height: 18px !important;
  background: url("../icons/back.svg") #fff center no-repeat !important;
  background-size: 32px !important; }
  .owl-carousel .owl-nav .owl-prev:hover {
    background: url("../icons/back-hover.svg") #fff center no-repeat !important;
    background-size: 32px !important; }
  .owl-carousel .owl-nav .owl-prev span {
    display: none; }
.owl-carousel .owl-nav .owl-next {
  position: absolute;
  right: -40px;
  top: calc(50% - 15px);
  transform: translateY(-50%);
  color: #56564e !important;
  line-height: 18px !important;
  background: url("../icons/next.svg") #fff center no-repeat !important;
  width: 80px;
  height: 80px;
  background-size: 32px !important; }
  .owl-carousel .owl-nav .owl-next:hover {
    background: url("../icons/next-hover.svg") #fff center no-repeat !important;
    background-size: 32px !important; }
  .owl-carousel .owl-nav .owl-next span {
    display: none; }

.carousel-teams {
  padding: 50px 25px 25px; }
  .carousel-teams .item {
    position: relative; }
    .carousel-teams .item .info {
      position: absolute;
      bottom: -100%;
      background-color: #c62827;
      padding: 15px 25px;
      color: #fff;
      width: 100%;
      transition: .3s all; }
      .carousel-teams .item .info span {
        display: block;
        font-size: 20px; }
      .carousel-teams .item .info p {
        color: #fff;
        font-weight: 600;
        font-size: 36px;
        margin: 0;
        text-transform: uppercase; }
      .carousel-teams .item .info small {
        font-weight: 600;
        font-size: 26px; }
    .carousel-teams .item:hover .info {
      bottom: 0;
      top: auto; }

.calculations {
  padding: 25px 100px 0; }
  .calculations h2 {
    padding-left: 50px;
    margin-bottom: 45px; }
  .calculations .year {
    font-size: 20px;
    color: #363636;
    margin-left: 50px; }
  .calculations h4 {
    color: #363636;
    font-size: 38px;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0 0 0 50px; }
  .calculations .item {
    position: relative;
    background-color: #fff;
    margin: 15px 75px 0; }
    .calculations .item .model {
      position: absolute;
      color: #fff;
      font-size: 70px;
      left: -53px;
      font-weight: 600;
      text-transform: uppercase;
      line-height: 60px;
      transform: translateX(-100%); }
      .calculations .item .model span {
        transform: rotate(-90deg);
        transform-origin: right top;
        text-align: right;
        display: block; }
    .calculations .item .price {
      background-color: #c62827;
      padding: 10px 15px;
      color: #fff;
      text-transform: uppercase;
      font-size: 18px; }
      .calculations .item .price b {
        font-weight: 600;
        font-size: 28px;
        position: relative;
        top: 1px;
        margin-left: 10px; }
    .calculations .item .wh {
      padding: 35px 25px; }
      .calculations .item .wh b.rd {
        color: #c62827; }
      .calculations .item .wh h5 {
        color: #363636;
        font-weight: 600;
        font-size: 20px;
        margin-bottom: 5px; }
      .calculations .item .wh hr {
        border: none;
        color: #a0a0a0;
        background-color: #a0a0a0;
        height: 1px;
        margin: 30px 0; }
      .calculations .item .wh ul {
        list-style-type: none;
        padding: 0;
        margin: 0 0 5px; }
        .calculations .item .wh ul li {
          position: relative;
          font-size: 16px;
          padding: 4px 0 5px 45px; }
          .calculations .item .wh ul li:before {
            content: "";
            width: 3px;
            height: 3px;
            left: 25px;
            top: 8px;
            background-color: #c62827;
            position: absolute;
            border-radius: 50%; }
      .calculations .item .wh p {
        margin-bottom: 10px;
        font-size: 18px; }
        .calculations .item .wh p:last-child {
          margin: 0; }
      .calculations .item .wh .total-price {
        display: block;
        font-weight: 600;
        color: #c62827;
        font-size: 30px; }

.car-slide {
  padding: 75px 35px 0; }
  .car-slide .car-rally {
    position: relative;
    height: 10px;
    border-radius: 10px;
    background-color: #dcdcdc;
    margin: 75px -10px 0; }
    .car-slide .car-rally img {
      position: absolute;
      top: calc(50% - 5px);
      left: 0;
      transform: translateY(-50%);
      transition: 1s all; }
  .car-slide .item {
    padding: 0 15px 15px;
    border-left: 1px solid #c62827;
    position: relative;
    min-height: 200px; }
    .car-slide .item .text {
      cursor: pointer; }
      .car-slide .item .text h5 {
        font-size: 25px; }
        .car-slide .item .text h5 i {
          font-style: normal;
          color: #c62827;
          display: none; }
      .car-slide .item .text p {
        line-height: 20px; }
        .car-slide .item .text p.rd {
          color: #c62827; }
        .car-slide .item .text p:last-child {
          margin-bottom: 10px; }
      .car-slide .item .text ul {
        margin: 0 0 10px;
        padding: 0;
        list-style-type: none; }
    .car-slide .item .pl:after {
      content: "";
      width: 12px;
      height: 12px;
      position: absolute;
      background-color: #c62827;
      border-radius: 50%;
      left: -6.5px;
      bottom: -4.5px; }
    .car-slide .item.inner-item {
      padding-bottom: 0; }
      .car-slide .item.inner-item .item {
        margin: 60px 0 0 25%; }
    .car-slide .item.active > .pl:before {
      content: "";
      border: 1px solid #c62827;
      background-color: #f6f6f6;
      width: 20px;
      height: 20px;
      left: -10.5px;
      bottom: -8.5px;
      display: block;
      position: absolute;
      border-radius: 50%; }

.modal-content {
  border-radius: 0;
  max-width: 400px;
  margin: 0 auto; }
  .modal-content .modal-body {
    padding: 35px; }
    .modal-content .modal-body p {
      font-size: 16px;
      margin-bottom: 25px; }
      .modal-content .modal-body p .rd {
        font-weight: 600;
        color: #c62827; }
    .modal-content .modal-body small {
      display: block;
      padding-top: 15px; }
  .modal-content.modal-lead {
    width: 800px; }

.modal-lead .modal-content {
  max-width: 800px; }
.modal-lead .modal-dialog {
  max-width: 800px; }
.modal-lead h3 {
  font-size: 32px;
  font-weight: 600; }
  .modal-lead h3 + p {
    padding: 0 100px;
    font-size: 16px; }
.modal-lead p.strong b {
  font-weight: 600;
  font-size: 20px;
  color: #000; }
.modal-lead form p {
  font-size: 14px !important;
  margin-bottom: 0 !important; }
.modal-lead form .btn {
  margin-top: 35px; }
.modal-lead small .rd {
  font-weight: 600;
  color: #c62827; }

.menu-mobile-nav {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  padding: 50px 30px;
  z-index: 100; }
  .menu-mobile-nav .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -18px;
    margin: 0;
    width: auto;
    max-width: 130px; }
  .menu-mobile-nav .call-phones small {
    font-size: 10px;
    line-height: 12px; }
  .menu-mobile-nav .menu-mobile {
    color: #c62827;
    font-size: 16px;
    text-transform: uppercase;
    padding-left: 35px;
    font-weight: 600;
    background: url("../icons/cancel.svg") left center no-repeat;
    background-size: 24px;
    cursor: pointer;
    position: relative;
    top: 1px; }
  .menu-mobile-nav .nav {
    display: inline-block;
    margin: 75px auto 25px; }
    .menu-mobile-nav .nav .nav-link {
      margin: 10px 0;
      display: block;
      text-align: left;
      font-weight: 400;
      color: #363636;
      font-size: 42px;
      padding: 5px 0; }
      .menu-mobile-nav .nav .nav-link.active {
        text-decoration: underline;
        color: #c62827; }
      .menu-mobile-nav .nav .nav-link:hover {
        text-decoration: underline;
        color: #c62827; }
  .menu-mobile-nav .go-to-catalog {
    position: relative;
    margin-top: 35px;
    padding: 10px 0 10px 65px; }
    .menu-mobile-nav .go-to-catalog a {
      text-decoration: underline;
      font-size: 24px; }
      .menu-mobile-nav .go-to-catalog a:hover {
        text-decoration: none; }
    .menu-mobile-nav .go-to-catalog:before {
      content: "";
      width: 40px;
      height: 40px;
      position: absolute;
      left: 0;
      top: 5px;
      background: url("../icons/foreign.svg") center no-repeat;
      background-size: cover; }

@media (max-width: 1649.98px) {
  .full-page .main-car:before {
    width: 680px;
    height: 680px; }

  .half-car {
    height: 45%; }

  .item-with-h3 h3 {
    font-size: 20px; }

  .item-with-h3:before {
    top: 36px; }

  .text-info p {
    font-size: 18px;
    line-height: inherit; } }
@media (max-width: 1199.98px) {
  .full-page .main-car:before {
    width: 580px;
    height: 580px; }

  .full-page .main-car img {
    top: 50px; }
  .full-page .btn-calc .btn {
    width: 100%; }
  .full-page .btn-calc p {
    margin: 15px 0 0 0;
    text-align: center;
    width: 100%; }
  .full-page .timer {
    padding-top: 0;
    margin: 0 auto; }
    .full-page .timer div strong {
      font-size: 42px; }
    .full-page .timer div span {
      font-size: 16px; }

  .carousel-teams .item .info p {
    font-size: 24px;
    line-height: 28px; }

  .half-car {
    height: 40%; }

  .btn-red {
    min-width: 175px;
    font-size: 14px; }

  .white-bac {
    padding: 25px; }
    .white-bac .rew-row:first-child {
      padding-top: 0; }
    .white-bac .rew-row:last-child {
      padding-bottom: 0; }

  h1 {
    font-size: 30px; }

  h2 {
    font-size: 32px; }

  .carousel-teams {
    padding: 25px 25px 0; }

  .calculations {
    padding: 25px 50px; }
    .calculations h2 {
      padding-left: 25px; }
    .calculations .year {
      margin-left: 25px; }
    .calculations h4 {
      margin-left: 25px; }
    .calculations .item {
      margin: 15px 25px 0; }
      .calculations .item .model {
        left: -52px; }

  h4 {
    font-size: 20px; }

  .accordion-faq .item-faq .answer p {
    font-size: 16px;
    padding-left: 15px; }
  .accordion-faq .item-faq .question {
    font-size: 18px; }

  .item-with-h3 h3 {
    font-size: 18px; } }
@media (max-width: 991.98px) {
  .item-with-h4 h4 {
    font-size: 20px; }

  header {
    height: auto;
    background-color: transparent; }

  h1 {
    text-align: center; }

  .half-car-content {
    padding-bottom: 35vh;
    margin: 0; }

  .half-car {
    height: 35vh;
    bottom: 0; }

  .item-with-h3 {
    padding: 15px 0 15px 25px; }
    .item-with-h3:before {
      left: 0;
      top: 20px; }
    .item-with-h3 p {
      margin: 0; }

  .item-with-h4 {
    padding-left: 25px; }
    .item-with-h4:before {
      left: 0;
      top: 22px; }

  .btn-red {
    min-width: 250px;
    width: calc(100% - 30px);
    font-size: 16px; }

  .full-page {
    min-height: auto;
    padding: 50px 0 0; }
    .full-page:before {
      content: "";
      width: 95em;
      height: 50em;
      border-radius: 50%;
      background-color: #c62827;
      position: absolute;
      left: 50%;
      top: -50%;
      transform: translateX(-50%);
      z-index: 1; }
    .full-page > div {
      z-index: 2; }
    .full-page .header {
      text-align: center; }
    .full-page .main-car {
      padding: 15px 25px 0; }
      .full-page .main-car h2 {
        display: none; }
      .full-page .main-car img {
        right: auto;
        top: auto; }
      .full-page .main-car:before {
        content: normal; }
      .full-page .main-car p {
        display: none; }
      .full-page .main-car .compare-price {
        display: none !important; }
    .full-page .scroll-btn {
      display: none; }
    .full-page .btn-calc {
      text-align: center;
      padding: 15px 0; }
      .full-page .btn-calc .btn {
        width: calc(100% - 30px); }
      .full-page .btn-calc p {
        display: none; }

  .full-page .timer div span {
    top: -5px; }

  .full-page .timer div:before {
    height: 24px; }

  .count-people h2 {
    margin: 25px 0 10px; }

  .count-people h3 {
    font-size: 40px; }

  .call-phones .tel {
    font-size: 16px; }

  .cars-in-transit {
    padding: 15px 0; }

  h1 {
    font-size: 30px;
    padding-bottom: 30px; }

  .content-with-padding {
    padding: 0 30px; }

  .item-with-h3 h3 {
    font-size: 18px; }

  .white-bac {
    padding: 25px; }
    .white-bac .rew-row:first-child {
      padding-top: 0; }
    .white-bac .rew-row:last-child {
      padding-bottom: 0; }

  .telegram-box .info {
    padding: 10px 15px 10px 25px; }

  p.sub-header {
    padding-left: 25px; }

  .text-info {
    text-align: center; }
    .text-info.top-padding {
      margin-top: 15px; }
    .text-info p {
      font-size: 14px;
      margin-bottom: 15px; }
    .text-info .btn {
      margin-left: 0; }

  .scroll-box {
    overflow-x: scroll; }
    .scroll-box > .row {
      width: 900px;
      display: block; }
      .scroll-box > .row > div {
        display: block;
        float: left; }

  .risks {
    padding: 0 0 25px;
    overflow-x: scroll; }
    .risks > .row {
      width: 900px;
      display: block; }
      .risks > .row > div {
        display: block;
        float: left; }
    .risks .item-with-h4 {
      margin-top: 0; }

  .car-slide {
    padding: 15px 25px 0;
    overflow-x: scroll; }
    .car-slide > .row {
      width: 900px;
      display: block; }
      .car-slide > .row > div {
        display: block;
        float: left; }
    .car-slide .item {
      border: none;
      padding: 0 0 15px; }
      .car-slide .item .pl {
        display: none; }
      .car-slide .item .text {
        cursor: default; }
        .car-slide .item .text h5 {
          font-weight: 600;
          text-transform: uppercase;
          font-size: 18px !important; }
          .car-slide .item .text h5 i {
            display: inline-block;
            margin-right: 3px; }
      .car-slide .item.inner-item .item {
        margin: 15px 0 0 0; }
    .car-slide .car-rally {
      display: none; }

  .carousel-teams {
    padding: 0 25px; }

  .count-people {
    text-align: center;
    padding-bottom: 25px; }
    .count-people h3 {
      padding: 0; }
    .count-people p {
      padding: 0; }

  .calculations {
    padding: 25px 50px 0; }
    .calculations h2 {
      padding-left: 25px; }
    .calculations .year {
      margin-left: 25px; }
    .calculations h4 {
      margin-left: 25px; }
    .calculations .item {
      margin: 15px 25px 0; }
      .calculations .item .model {
        left: -52px; }

  h4 {
    font-size: 20px; }

  .accordion-faq .item-faq .answer p {
    font-size: 16px;
    padding-left: 15px; }
  .accordion-faq .item-faq .question {
    font-size: 18px; }

  footer .address-copyright {
    padding: 0;
    text-align: center; }
    footer .address-copyright .logo {
      position: relative;
      top: 0;
      left: 0;
      display: inline-block;
      margin-bottom: 25px; }
    footer .address-copyright .go-to-catalog {
      display: inline-block;
      padding: 50px 15px 15px; }
      footer .address-copyright .go-to-catalog:before {
        left: 50%;
        transform: translateX(-50%); }
    footer .address-copyright .copyright {
      padding-top: 15px; }

  .telegram-box {
    margin: 0 -30px; }
    .telegram-box .info {
      margin: 0;
      text-align: center;
      padding: 15px; }
      .telegram-box .info small {
        font-size: 14px; }
    .telegram-box .go-to-telegram {
      padding: 15px; }

  form .btn {
    display: block;
    width: calc(100% - 30px);
    margin: 0 auto; }

  .content-with-padding {
    padding: 0; }

  section {
    padding: 15px 0; }

  h2 {
    padding-left: 25px;
    font-size: 28px; }

  .calculations .year {
    margin: 0;
    text-align: center;
    display: block; }
  .calculations h4 {
    margin: 0;
    text-align: center; }
  .calculations h2 {
    padding-left: 0;
    text-align: center; }
  .calculations .item {
    margin: 15px 0; }
    .calculations .item .model {
      display: none; }
  .calculations .tabs {
    padding: 15px 0; }
    .calculations .tabs .tab {
      cursor: pointer;
      text-align: center;
      font-size: 20px;
      border: 1px solid transparent;
      padding: 5px 10px; }
      .calculations .tabs .tab.active {
        color: #c62827;
        border-color: #c62827; }

  .accordion-faq {
    margin-bottom: 25px; }
    .accordion-faq .item-faq:before {
      content: normal; }
    .accordion-faq .item-faq .answer p {
      padding-left: 25px; }

  header {
    padding: 50px 15px 0; }
    header .nav {
      display: none; }
    header .logo {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: -18px;
      margin: 0;
      width: auto;
      max-width: 130px; }
    header .call-phones .tel {
      color: #fff; }
    header .call-phones small {
      color: #fff;
      font-size: 10px;
      line-height: 12px; }
    header .call-phones .city {
      display: none; }
    header .menu-mobile {
      color: #fff;
      font-size: 16px;
      text-transform: uppercase;
      padding-left: 35px;
      font-weight: 600;
      background: url("../icons/menu.svg") left center no-repeat;
      background-size: 24px;
      cursor: pointer; }

  .carousel-transit-mobile {
    margin: 0 25px;
    width: calc(100% - 50px); }
    .carousel-transit-mobile.owl-carousel .owl-nav .owl-prev {
      position: absolute;
      left: -40px;
      top: calc(50% - 15px);
      transform: translateY(-50%);
      color: #56564e !important;
      width: 80px;
      height: 80px;
      line-height: 18px !important;
      background: url("../icons/back.svg") #fff center no-repeat !important;
      background-size: 32px !important; }
      .carousel-transit-mobile.owl-carousel .owl-nav .owl-prev:hover {
        background: url("../icons/back-hover.svg") #fff center no-repeat !important;
        background-size: 32px !important; }
      .carousel-transit-mobile.owl-carousel .owl-nav .owl-prev span {
        display: none; }
    .carousel-transit-mobile.owl-carousel .owl-nav .owl-next {
      position: absolute;
      right: -40px;
      top: calc(50% - 15px);
      transform: translateY(-50%);
      color: #56564e !important;
      line-height: 18px !important;
      background: url("../icons/next.svg") #fff center no-repeat !important;
      width: 80px;
      height: 80px;
      background-size: 32px !important; }
      .carousel-transit-mobile.owl-carousel .owl-nav .owl-next:hover {
        background: url("../icons/next-hover.svg") #fff center no-repeat !important;
        background-size: 32px !important; }
      .carousel-transit-mobile.owl-carousel .owl-nav .owl-next span {
        display: none; }

  section.teams h2 {
    font-weight: 600;
    text-transform: uppercase; }
  section.teams .calculations h2 {
    font-weight: 100;
    text-transform: none;
    margin: 0 0 15px; }

  .btn-red {
    height: 64px; }

  .telegram-box .info p {
    font-size: 18px; }

  .cars-in-transit .owl-carousel .owl-dots {
    margin-top: 0; }

  section.faq {
    padding-bottom: 25px; }
    section.faq h2 {
      padding-left: 0; }

  .accordion-faq .item-faq .answer {
    padding-bottom: 0; }

  .accordion-faq .item-faq .answer p {
    margin-top: 30px; }

  .modal-lead .modal-content {
    max-width: 600px; }
  .modal-lead .modal-dialog {
    max-width: 600px; }

  header {
    background: #c62827;
    position: fixed;
    top: 0;
    height: 144px;
    transition: top 0.2s ease-in-out;
    width: 100%; }
    header.nav-up {
      top: -144px; }

  .full-page {
    padding-top: 144px; } }
@media (max-width: 767.98px) {
  .carousel-teams {
    margin: 0 50px; }

  .menu-mobile-nav {
    overflow-y: auto; }

  .carousel-white .item {
    padding: 25px; }
    .carousel-white .item .item {
      padding: 25px 0 0; }

  .cars-carousel.owl-carousel .owl-nav .owl-prev {
    top: calc(50% + 12.5px); }

  .cars-carousel.owl-carousel .owl-nav .owl-next {
    top: calc(50% + 12.5px); }

  .rew-row .review .avatar {
    top: 0; }

  .rew-row .review {
    margin-bottom: 15px; }

  h2,
  p.sub-header,
  .risks .item-with-h4 {
    padding-left: 15px; }

  .car-slide {
    padding: 15px 15px 0; }

  .teams p.sub-header,
  section.teams h2 {
    padding-left: 0; }

  .calculations .item {
    margin: 0; }

  .calculations .item .wh ul li {
    padding: 4px 0 5px 35px; }

  .calculations .item .wh ul li:before {
    left: 20px;
    top: 10px; }

  .calculations .item .wh hr {
    margin: 15px 0; }

  .calculations .item .wh p {
    font-size: 16px; }

  section.faq h2 {
    margin: 0; }

  footer .address-copyright .logo {
    margin-bottom: 15px; }

  .modal-content .modal-body p {
    margin-bottom: 15px !important; }

  .modal-lead form .btn {
    margin-top: 15px; }

  .modal-content .modal-body p {
    padding: 0 25px; } }
@media (max-width: 575.98px) {
  .full-page {
    padding-top: 94px; }

  header {
    height: 94px; }
    header.nav-up {
      top: -94px; }

  header {
    padding: 25px 0 0; }
    header .logo {
      max-width: 90px;
      top: -8px; }
    header .call-phones .tel {
      font-size: 14px; }
    header .call-phones small {
      font-size: 8px;
      line-height: 10px; }

  section {
    padding: 10px 0; }

  .full-page:before {
    width: 80em;
    height: 50em; }

  .calculations {
    padding: 25px 15px 0; }
    .calculations .item .wh {
      padding: 15px; }
      .calculations .item .wh ul li {
        padding-left: 25px;
        font-size: 14px; }
        .calculations .item .wh ul li:before {
          left: 15px; }
    .calculations .item .wh h5 {
      font-size: 16px; }
    .calculations .item .wh p {
      font-size: 14px; }

  .carousel-teams {
    margin: 0 15px; }

  .half-car {
    height: auto;
    width: calc(100% - 25px); }

  .item-with-h4 {
    padding: 15px 0 15px 25px; }
    .item-with-h4:before {
      top: 24px; }
    .item-with-h4 p {
      margin: 0; }

  section.teams h2 {
    padding: 0; }
  section.teams p.sub-header {
    padding: 0;
    font-size: 18px; }

  section.faq h2 {
    padding: 0;
    font-weight: 600;
    margin-top: 0; }

  .cars-carousel {
    margin-top: 15px; }

  .count-people h2 {
    font-size: 64px;
    line-height: 60px;
    margin: 5px 0; }
  .count-people h3 {
    font-size: 32px; }

  .menu-mobile-nav {
    padding: 25px 15px; }
    .menu-mobile-nav .menu-mobile {
      top: 0; }
    .menu-mobile-nav .logo {
      max-width: 90px;
      top: -8px; }
    .menu-mobile-nav .call-phones .tel {
      font-size: 14px; }
    .menu-mobile-nav .call-phones small {
      font-size: 8px;
      line-height: 10px; }
    .menu-mobile-nav .nav {
      margin: 25px auto; }
      .menu-mobile-nav .nav .nav-link {
        padding: 0; }
    .menu-mobile-nav .go-to-catalog {
      position: relative;
      margin-top: 35px;
      padding: 10px 0 10px 45px; }
      .menu-mobile-nav .go-to-catalog a {
        font-size: 20px; }
      .menu-mobile-nav .go-to-catalog:before {
        top: 3px; }

  h1 {
    font-size: 26px; }

  .full-page .btn-calc {
    padding: 15px 0; }

  .form-call p {
    font-size: 18px; }

  .full-page .main-car {
    padding: 15px 0 0; }

  .full-page .btn-calc .btn {
    padding: .5rem 15px;
    font-size: 16px; }

  .full-page .timer div strong {
    font-size: 34px; }

  .modal-content .modal-body p {
    padding: 0 15px; } }
@media (max-width: 479.98px) {
  .full-page:before {
    height: 38em; }

  .full-page {
    padding-top: 76px; }

  header {
    height: 76px; }
    header.nav-up {
      top: -76px; }

  header .call-phones .tel {
    font-size: 10px; }
  header .call-phones small {
    display: none; }
  header .logo {
    max-width: 70px;
    top: -8px; }
  header .menu-mobile {
    font-size: 14px; }

  .menu-mobile-nav .call-phones .tel {
    font-size: 10px; }
  .menu-mobile-nav .call-phones small {
    display: none; }
  .menu-mobile-nav .logo {
    max-width: 70px;
    top: -8px; }
  .menu-mobile-nav .nav {
    margin: 15px auto; }
    .menu-mobile-nav .nav .nav-link {
      font-size: 28px; }
  .menu-mobile-nav .go-to-catalog {
    margin-top: 15px; }
    .menu-mobile-nav .go-to-catalog:before {
      width: 30px;
      height: 30px; }
    .menu-mobile-nav .go-to-catalog a {
      font-size: 16px; }
  .menu-mobile-nav .menu-mobile {
    font-size: 14px; }

  .carousel-white .item {
    padding: 15px 25px; }
    .carousel-white .item .cars-carousel .item {
      padding: 0; }

  .rew-row .review {
    padding-left: 80px;
    margin-bottom: 15px;
    min-height: 70px; }
    .rew-row .review .avatar {
      width: 70px;
      height: 70px; }
    .rew-row .review h5 {
      font-size: 18px; }

  .carousel-transit-mobile.owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-prev {
    left: -30px;
    width: 60px;
    height: 60px;
    background-size: 26px !important; }
    .carousel-transit-mobile.owl-carousel .owl-nav .owl-prev:hover,
    .owl-carousel .owl-nav .owl-prev:hover {
      background-size: 26px !important; }
  .carousel-transit-mobile.owl-carousel .owl-nav .owl-next,
  .owl-carousel .owl-nav .owl-next {
    right: -30px;
    width: 60px;
    height: 60px;
    background-size: 26px !important; }
    .carousel-transit-mobile.owl-carousel .owl-nav .owl-next:hover,
    .owl-carousel .owl-nav .owl-next:hover {
      background-size: 26px !important; }

  .carousel-transit-mobile.owl-carousel .owl-nav .owl-prev {
    top: calc(50% + 15px); }
  .carousel-transit-mobile.owl-carousel .owl-nav .owl-next {
    top: calc(50% + 15px); }

  .modal-lead h3 {
    font-size: 20px; }

  .modal-content .modal-body p {
    font-size: 14px;
    padding: 0; }

  .modal-lead p.strong b {
    font-size: 14px; }

  .modal-lead form .btn {
    height: 54px; } }
@media screen and (max-width: 1649.98px) and (min-width: 1200px) {
  h1 {
    font-size: 34px;
    padding-bottom: 34px; }

  h2 {
    font-size: 36px; }

  header nav a.nav-link {
    margin: 0 5px;
    font-size: 18px;
    padding: .5rem 15px !important; }

  .full-page .btn-calc .btn {
    padding: .5rem 15px;
    font-size: 16px; }

  .call-phones .tel,
  .call-phones .city a {
    font-size: 18px; }

  .full-page .main-car h2 {
    font-size: 60px; }

  .full-page .timer div strong {
    font-size: 42px; }

  .full-page .timer div:before {
    height: 22px; }

  .full-page .timer div span {
    top: 0; }

  .full-page .btn-calc {
    padding: 10px 0; }

  .full-page .btn-calc p {
    font-size: 14px; }

  .carousel-testimonials.owl-carousel > .owl-nav .owl-prev {
    left: 25%;
    transform: translateX(-50%); }

  .carousel-testimonials.owl-carousel > .owl-nav .owl-next {
    right: 25%;
    transform: translateX(50%); }

  .count-people p {
    font-size: 20px; }

  .carousel-white .item {
    padding: 25px 35px; }
    .carousel-white .item .cars-carousel .item {
      padding: 0; }

  .cars-in-transit .item-car h4 {
    font-size: 28px; }

  .cars-in-transit .item-car p {
    font-size: 14px; }

  .white-bac {
    padding: 25px; }

  .item-with-h3 {
    padding: 15px 0; }

  .item-with-h3:before {
    top: 22px; }

  .telegram-box .info p {
    font-size: 18px; }

  .item-with-h4 {
    margin-top: 0; }

  .car-slide .item .text h5 {
    font-size: 20px; }

  .carousel-teams {
    padding: 0 25px; }

  .carousel-teams .item .info p {
    font-size: 24px; }

  .calculations {
    padding: 25px 50px 0; }

  .calculations .item .wh {
    padding: 25px; }

  .calculations .item .wh b.rd {
    white-space: nowrap; }

  .calculations .item .wh p b {
    white-space: nowrap; }

  .form-call p {
    font-size: 18px; }

  .accordion-faq .item-faq .question {
    font-size: 22px; }

  .accordion-faq .item-faq:before {
    left: -25px; }

  .accordion-faq .item-faq .answer p {
    font-size: 18px; }

  footer .address-copyright p {
    font-size: 18px; } }
@media screen and (max-width: 1199.98px) and (min-width: 992px) {
  h2 {
    padding-left: 25px; }

  .content-with-padding {
    padding: 0 25px; }

  .rew-row .review {
    padding-left: 100px;
    margin-bottom: 15px; }

  .rew-row .review .avatar {
    top: 15px; }

  .white-bac {
    padding: 5px 25px; }

  .white-bac .rew-row:first-child {
    padding-top: 20px; }

  .white-bac .rew-row:last-child {
    padding-bottom: 20px; }

  .btn-red {
    min-width: 200px; }

  .telegram-box .info {
    padding-left: 25px; }

  p.sub-header {
    padding-left: 25px; }

  .car-slide .item .text p,
  .car-slide .item .text li {
    font-size: 14px;
    line-height: 18px; }

  header .logo {
    width: 100px; }

  header nav a.nav-link {
    margin: 0 3px;
    font-size: 14px;
    padding: .5rem 10px !important; }

  .full-page .main-car img {
    top: 25px; }

  .full-page .main-car .compare-price .text {
    font-size: 14px;
    width: 200px; }

  .full-page .main-car .compare-price .price.big {
    width: calc(100% - 200px);
    font-size: 32px; }

  .full-page .main-car .compare-price .price.small {
    font-size: 20px;
    width: calc(100% - 200px); }

  .call-phones .tel,
  .call-phones .city a {
    font-size: 16px; }

  .full-page .main-car h2 {
    font-size: 56px;
    line-height: 56px; }

  .full-page .timer div strong {
    font-size: 52px; }

  .full-page .timer div:before {
    height: 48px; }

  .full-page .btn-calc {
    padding: 10px 0; }

  .carousel-testimonials.owl-carousel > .owl-nav .owl-prev {
    left: 25%;
    transform: translateX(-50%); }

  .carousel-testimonials.owl-carousel > .owl-nav .owl-next {
    right: 25%;
    transform: translateX(50%); }

  .count-people p {
    font-size: 20px; }

  .carousel-white .item {
    padding: 25px 35px; }
    .carousel-white .item .cars-carousel .item {
      padding: 0; }

  .cars-in-transit .item-car h4 {
    font-size: 28px; }

  .cars-in-transit .item-car p {
    font-size: 14px; }

  .cars-in-transit .item-car .year {
    font-size: 18px; }

  .cars-in-transit .item-car .img .price b {
    font-size: 18px;
    white-space: nowrap; }

  .item-with-h3 {
    padding: 15px 0; }

  .item-with-h3:before {
    top: 20px;
    left: -25px; }

  .telegram-box .info p {
    font-size: 16px; }

  .item-with-h4 {
    margin-top: 0; }

  .item-with-h4:before {
    left: -25px;
    top: 22px; }

  .item-with-h4 h4 {
    font-size: 20px; }

  .car-slide .item .text h5 {
    font-size: 18px; }

  .carousel-teams {
    padding: 0 25px; }

  .carousel-teams .item .info p {
    font-size: 24px; }

  .calculations {
    padding: 25px 50px 0; }

  .calculations .item .wh {
    padding: 25px; }

  .calculations .item .wh b.rd {
    white-space: nowrap; }

  .calculations .item .wh p b {
    white-space: nowrap; }

  .form-call p {
    font-size: 18px; }

  .accordion-faq .item-faq .question {
    font-size: 22px; }

  .accordion-faq .item-faq:before {
    left: -25px; }

  .accordion-faq .item-faq .answer p {
    font-size: 18px;
    margin-top: 30px; }

  .form-call {
    padding: 20px 0; }

  footer .address-copyright {
    padding-left: 140px; }

  footer .address-copyright p {
    font-size: 16px; }

  footer .address-copyright .copyright {
    padding-top: 40px; }

  footer .address-copyright .logo {
    width: 100px; }

  .count-people h3 {
    padding-left: 65px;
    font-size: 40px; }

  .count-people p {
    padding-left: 65px;
    font-size: 18px; }

  .rew-row .review h5 {
    font-size: 20px; }

  .text-info p {
    font-size: 16px; }

  .text-info .btn {
    margin: 0; }

  .text-info .btn.flex-btn {
    margin: 0 0 0 15px; }

  .car-slide {
    padding: 25px 35px 0; }

  .calculations .item .price {
    font-size: 16px; }

  .calculations .item {
    margin: 15px 15px 0; }

  .calculations .item .wh ul li {
    padding-left: 30px;
    font-size: 16px; }

  .calculations .item .wh ul li:before {
    top: 12px;
    left: 15px; }

  .calculations .item .wh h5 {
    font-size: 18px; }

  .calculations .item .wh p {
    font-size: 16px; }

  .calculations .item {
    margin-top: 0; }

  section.faq h2 {
    margin: 0; }

  .accordion-faq .item-faq .answer {
    padding-bottom: 15px; } }
@media screen and (max-width: 991.98px) and (min-width: 768px) {
  .full-page .main-car img {
    width: 100%;
    max-width: 100%;
    margin-bottom: 0; } }
@media screen and (max-width: 767.98px) and (min-width: 576px) {
  section.faq h2 {
    padding-left: 0; }

  footer .address-copyright p {
    font-size: 18px; }

  .calculations .item .price b {
    white-space: nowrap; }

  .full-page .main-car img {
    width: 100%;
    max-width: 100%;
    margin-bottom: 0; } }
@media screen and (max-width: 575.98px) {
  .full-page .main-car img {
    width: 100%;
    max-width: 100%;
    margin-bottom: 0; }

  .btn-red {
    min-width: auto !important; }

  footer .address-copyright p {
    font-size: 16px; }

  footer .address-copyright p b {
    font-size: 20px; }

  .calculations .item {
    margin: 5px 0; }

  .calculations .item .wh b.rd {
    white-space: nowrap; }

  .calculations h4 {
    font-size: 26px; }

  .calculations .year {
    font-size: 16px; }

  .calculations .tabs .tab {
    font-size: 18px; }

  section.teams .calculations h2 {
    margin-bottom: 15px; }

  .carousel-teams .item .info p {
    font-size: 18px; }

  .carousel-teams .item .info span {
    font-size: 14px; }

  .carousel-teams .item .info small {
    font-size: 16px; }

  section.teams p.sub-header {
    font-size: 16px; }

  .car-slide {
    padding: 15px 15px 0; }

  .half-car {
    width: auto;
    max-height: 190px; }

  .half-car-content {
    padding-bottom: 200px;
    margin-bottom: 0; }

  .full-page .header {
    font-size: 16px;
    line-height: inherit;
    margin-bottom: 10px; }

  .full-page .timer {
    margin-bottom: 15px; }

  h2 {
    padding-left: 15px;
    font-size: 22px; }

  p.sub-header {
    font-size: 16px;
    padding-left: 15px; }

  .risks .item-with-h4 {
    padding: 15px 0 15px 15px; }

  .item-with-h4:before {
    content: normal; }

  .item-with-h3 {
    padding: 15px 0 15px 15px; }

  .item-with-h3:before {
    content: normal; }

  .cars-in-transit {
    padding: 15px 0; }

  .cars-in-transit .item-car .img .price b {
    white-space: nowrap; }

  .cars-in-transit .item-car .year {
    font-size: 16px; }

  .cars-in-transit .item-car h4 {
    font-size: 26px; }

  .cars-in-transit .item-car p {
    font-size: 14px; }

  .count-people p {
    font-size: 20px; }

  .full-page .timer div:before {
    top: 10px; }

  .full-page .btn-calc .btn {
    width: 100%; }

  .full-page .timer div span {
    font-size: 12px; }

  h1 {
    font-size: 22px;
    padding-bottom: 20px; } }
@media (max-height: 800px) {
  h1 {
    font-size: 28px;
    padding-bottom: 25px; }

  .full-page .header {
    font-size: 18px;
    line-height: inherit; }

  .full-page .main-car .compare-price .margin-b {
    margin-bottom: 10px; } }
@media (max-height: 768px) and (max-width: 576px) {
  h1 {
    font-size: 4vh;
    padding-bottom: 2vh; }

  .full-page .main-car img {
    height: 20vh;
    width: auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    float: none !important; }

  .full-page .header {
    font-size: 3vh; }

  .full-page:before {
    height: 200px;
    width: 500px;
    top: auto;
    bottom: calc(100% - 175px); } }

/*# sourceMappingURL=style.css.map */
